html{
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    background-color: dodgerblue;
}

.w3-display-container{
    height: 80%;
    width: 60%;
    padding: 2%;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.95);
    border: solid 0.5px darkslategrey;
    border-radius: 1em;
}

.w3-display-container::-webkit-scrollbar{
    display: none;
}

.login-form h1 {
    text-align: center;
    font-weight: bold;
    color: #000000;
    font-size: 36px;
    /* padding: 0 2em 0 2em; */
    border-radius: 0.25em;
}
.login-form input[type="password"],
.login-form input[type="text"] {
    width: 100%;
    color: #535b63;
    padding: 15px;
    outline: none;
    background-color:transparent;
    border: none;
    border-bottom: 1px solid #535b63;
    margin-bottom: 15px;
    box-sizing:border-box;
    transition: 0.25s;
}
.login-form input:focus{
    border-bottom: 3px solid dodgerblue;
    padding: 20px;
}
.login-form input[type="password"]::placeholder{
    color: #535b63;
}
.login-form input[type="text"]::placeholder {
    color: #535b63;
}
.login-form input[type="submit"] {
    width: 60%;
    padding: 15px;
    background-color: rgb(20, 115, 209);
    border-radius: 2em;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: 0.25s;
}
.login-form input[type="submit"]:hover{
    background-color: dodgerblue;
}
.login-form .link{
    text-align: center;
    color: #535b63;
}
.login-form .link:hover{
    color: dodgerblue;
}

.btn{
    background-color: rgb(20, 115, 209);
    color: #ffffff;
    border: none;
    padding-top: 3%;
    padding-bottom: 3%;
    display: inline-block;
    width: 100%;
    font-size: 16px;
    border-radius: 1em;
    text-decoration: none;
    text-align: center;
    transition: 0.25s;
}
.btn:hover{
    background-color: dodgerblue;
}

.logout-btn{
    background-color: rgb(15, 52, 100);
}
.logout-btn:hover{
    background-color: rgba(15, 23, 92);
}

.back-btn{
    padding: 2%;
    border-radius: 2em;
    text-decoration: none;
    background-color: rgb(20, 115, 209);
    color: white;
}

.back-btn:hover{
    background-color: dodgerblue;
}

.alert{
    background-color: red;
    color: white;
    font-weight: bold;
}