{% extends 'base.html' %}

{% block content %}
<div class="login-form w3-center">
    <a href="{{ url_for('home') }}" class="w3-display-topleft w3-margin back-btn"><i class="fa fa-caret-left"></i> Back</a>
    <h1>{% block title %} NCAT Academic Audit {% endblock %}</h1><br>
    <a class="btn" href="{{ url_for('VG') }}">View Grades</a><br><br>
    <a class="btn" href="{{ url_for('VTI') }}">View Transcipt Infomation</a><br><br>
    <a class="btn" href="{{ url_for('VSI') }}">View Student Infomation</a><br><br>
    <a class="btn" href="{{ url_for('RFG') }}">Register for Graduation</a>
</div>
{% endblock %}