{% extends 'base.html' %}

{% block content %}
<div class="login-form w3-center">
    <a href="{{ url_for('CR') }}" class="w3-display-topleft w3-margin back-btn"><i class="fa fa-caret-left"></i> Back</a>
    <h1>{% block title %} NCAT View Suggested Classes {% endblock %}</h1><br>
    {% for message in get_flashed_messages() %}
        <div class="alert">{{ message }}</div><br>
    {% endfor %}
    <div style="overflow: auto;">
        {% for course in courses %}
            <h3 style="text-decoration: underline;">{{ course['Code'] }} - {{ course['Title']}}</h3>
            <span class="badge badge-primary">Major: {{ course['Major'] }} |</span>
            <span class="badge badge-primary">Semester: {{ course['Semester'] }} |</span>
            <span class="badge badge-primary">Prerequisites: {{ course['Prerequisites'] }}</span>
            <hr>
        {% endfor %}
    </div>
</div>
{% endblock %}